@tailwind base;
@tailwind components;
@tailwind utilities;

.bannerText{
  background: rgba(248, 55, 55, 0.6);
  -webkit-clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%);
  clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%);
  padding: 20px 100px 20px;
}

.lightDarkBtn{
  position: fixed;
  top:50%;
  left:0;
  color:rgb(24, 2, 2);
  background-color: #333;
  border-radius: 20px;
  padding: 5px 10px;
  color:bisque;
  z-index: 9999;
}
body.light {
  background-color: #fff;
  color: #333;
}
  
body.dark {
  background-color: rgb(15, 23, 42);
  color: #fff;
}
/* .navbarBg{
  background-color: rgb(15, 23, 42);
} */
.active{
  background-color: red!important;
}